<h2 id="title">Google Viewer</h2>

{{outlet}}

<pre>
  \{{ember-cli-google-viewer url="http://infolab.stanford.edu/pub/papers/google.pdf" width="600px" height="600px"}}
</pre>

{{ember-cli-google-viewer url="http://infolab.stanford.edu/pub/papers/google.pdf" width="600px" height="600px"}}

